.imgProduct{
    width: 7rem;
    height:7rem;
    display: flex;    
}

.btn{
    margin-left: 20px;
    margin-right: 20px;
}

.total{
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

